@model IEnumerable<VAT_Generator.Models.Product>

@{
    ViewBag.Title = "Lista produktów";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Dodaj produkt", "Create")
</p>
<table class="table"
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NetPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TaxRate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TaxValue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GrossPrice)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NetPrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => (item.TaxRate))
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TaxValue)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GrossPrice)
                </td>
                <td>
                    @Html.ActionLink("Edytuj", "Edit", new { id = item.ProductId }) |
                    @Html.ActionLink("Usuń", "Delete", new { id = item.ProductId })
                </td>
            </tr>
        
        @*<td><input type="submit" value="Faktura"></td>*@
        @*<td>@Html.ActionLink("Nowa Faktura", "CreateInvoice", Model))</td>*@
    }

</table>